<launch>
  <!-- arg name="scan_topic" default="third_robot/laser/base_scan" /-->
  <arg name="scan_topic" default="scan_multi" />
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam file="$(find cirkit_unit03_gmapping)/config/gmapping_gazebo.yaml" command="load" />
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
