<launch>

  <include file="$(find cirkit_unit03_driver)/launch/cirkit_unit03.launch"/>
  <include file="$(find cirkit_unit03_bringup)/launch/sensor_bringup.launch"/>
  
  <include file="$(find cirkit_unit03_control)/launch/laserscan_merger.launch" />

  <include file="$(find cirkit_unit03_description)/launch/description.launch" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cirkit_unit03_viz)/rviz/robot/autorun3.rviz" required="true" />

</launch>
