<launch>
    <include file="$(find steer_drive_controller)/launch/steer_drive_test_setting.launch" />

    <node pkg="topic_tools" type="relay" name="relay_base_scan" args="/cirkit_unit03/laser/base_scan /base_scan"/>
    <node pkg="topic_tools" type="relay" name="relay_base_scan2" args="/cirkit_unit03/laser/base_scan2 /base_scan2"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cirkit_unit03_viz)/rviz/gazebo/autorun_gazebo.rviz" required="true" />

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <remap from="scan" to="scan_multi" />
        <rosparam file="$(find cirkit_unit03_amcl)/config/amcl_params_gazebo.yaml" command="load" />
    </node>
</launch>
